.PageTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .title {
    font-weight: 700;
    font-size: 26px;
    color: #3c4852;
  }
  & .actionBlock {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
    box-sizing: border-box;
    gap: 10px;
  }
  & .common {
    font-weight: 600;
    font-size: 24px;
  }
}
