button {
  // overflow: hidden;
  cursor: pointer;
  border: none;
  background: transparent;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: max-content;
  gap: 10px;
  justify-content: center;
  text-align: center;
}
.primary {
  background: #ffcc80;
  color: #3c4852;
  font-weight: 700;
  &.xl {
    font-size: 18px;
    padding: 16px 18px;
  }
  &.xm {
    font-size: 14px;
    padding: 8px 16px;
  }
}
.fourth {
  background: transparent;
  color: #3c4852;
  border: 1px solid #ffcc80;
  &.xl {
    font-size: 18px;
    font-weight: 700;
    padding: 16px 18px;
  }
  &.xm {
    font-size: 14px;
    font-weight: 600;
    padding: 8px 16px;
  }
}
.secondary {
  border: 1px solid #e7e7e7;
  color: #e7e7e7;
  &.xl {
    font-size: 18px;
    padding: 17px 20px;
  }
  &.xm {
    font-size: 14px;
    padding: 7px 40px;
  }
}

.tertiary {
  border: 1px solid #80878d;
  color: #fff;
  font-weight: 600;
  &.xl {
    padding: 14px 24px;
    font-size: 18px;
  }
  &.xm {
    padding: 7px 13px;
    font-size: 14px;
  }
}
.save {
  padding: 16px 40px;
  color: #fff;
  background: #66b87a;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .save {
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    background: #66b87a;
    border-radius: 10px;
  }
  .primary {
    border-radius: 5px;
    font-weight: 600;
    &.xl {
      font-size: 12px;
      padding: 8px 12px;
    }
    &.xm {
      font-size: 10px;
      padding: 4px 8px;
    }
  }
  .secondary {
    border-radius: 5px;
    &.xl {
      font-size: 12px;
      padding: 8px 12px;
    }
    &.xm {
      font-size: 10px;
      padding: 4px 8px;
    }
  }
  .tertiary {
    border-radius: 5px;
    font-weight: 600;
    &.xl {
      font-size: 12px;
      padding: 8px 12px;
    }
    &.xm {
      font-size: 10px;
      padding: 4px 8px;
    }
  }
  .fourth {
    border-radius: 5px;
    &.xl {
      font-size: 12px;
      padding: 8px 12px;
    }
    &.xm {
      font-size: 10px;
      padding: 4px 8px;
    }
  }
}
