.order {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  padding: 20px 40px;
  background: #fff;
  border-radius: 10px;
  &Info{
    display: flex;
    align-items: start;
    gap: 10px;
    flex-direction: column;
  }
  &SubType{
    color: #8E8D8D;
  }
  &Status{
    display: flex;flex-direction: column;
    align-items: end;
  }
}
.title{
  font-weight: 600;
  font-size: 22px;
  color: #66B87A;
}
.date{
  display: flex;
  align-items: center;
  gap: 10px;
  color: #8E8D8D;
  svg{
    fill: #8E8D8D;
  }
}
.price{
  font-size: 20px;
  color: #3C4852;
  span{
    font-weight: 700;
    color: #66B87A;
  }
}